.elementCardWrapper {
    border-radius: var(--space);
    background-color: var(--color-black);
    padding: var(--space);
}
.imageDiv {
    border-radius: var(--space);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}