:root {
  --space: 16px;
  --font: Roboto, sans-serif;

  --color-black: #0B0C10;
  --color-dark-blue: #1F2833;
  --color-gray: #C5C6C7;
  --color-bright-blue: #66FCF1;
  --color-darker-blue: #45A29E;
}

body {
  font-family: var(--font) !important;
  background-color: var(--color-black);
  color: var(--color-gray);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-bright-blue);
}


.applicationWrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: calc(var(--space) * 6) 1fr;
}

.appContentWrapper {
  min-height: calc(100vh - var(--space) * 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

